body {
    background-color: #caf0f8;
}


header {
    font-family: 'Libre Baskerville', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Staatliches', cursive; ;
    font-size:xx-large;
    color: white;
    background-color: #00B4D8;
    padding: 0 0 0 5px;
}

.tip-text {
    display: flex;
    justify-content: flex-end;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Staatliches', cursive; ;
    color: white;
    font-size: large;
    padding: 0 5px 0 0;

}

#form-parent {
    margin-top: 30px;
}

.restaurant-input {
    margin: 10px;
    padding: 10px;
    border: #00B4D8 solid 3px;
    height: 200px;
    width: 200px;
}

label {
    border: none;
}
#pizza {
   display: block;
   width: 75%;
   overflow: hidden;
    margin: 22px auto;
}

#click-here {
    margin-top: 50px;
    padding-top: 50px;
    border-top: #00B4D8 solid 3px;
}

#eighteen, #twenty, #twentytwo, #twentyfive {
    background-color: #03045e;
}

.Logo {
    width: 6%;
    height: 6%;
}

footer {
    background: #00B4D8;
    text-align-last: right;
    width: 100%;
    padding: 40px 35px;
}

footer h6 {
    display: inline;
    color: white;
    font-size: small;
    margin: 0;
}

.tipImage{
    height: 200px;
    width: 300px;
}

@media screen and (max-width: 375px) {
    header {
        text-align:center;
    }
}